<!DOCTYPE HTML>
<html>
<head>
    <title>东师之声NUNE</title>
    <meta charset="utf-8">
    <!-- Google Fonts -->
    <link href='http://fonts.useso.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'
        rel='stylesheet' type='text/css' />
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/menu/css/simple_menu.css">
    <!-- JS Files -->
    <script type="text/javascript" src="../../Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/js/jquery.tools.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#prod_nav ul").tabs("#panes > div", {
                effect: 'fade',
                fadeOutSpeed: 400
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".pane-list li").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
    </script> 
</head>
<body>
    <div class="header">
        <div id="site_title">
            <a href="@Url.Content("~/Home/Index")">
                <img src="../../Content/img/logo.png" alt=""></a>
        </div>
        <!-- Main Menu -->
        <ol id="menu">
            <li class="active_menu_item"><a href="@Url.Content("~/Home/Index")">首页</a></li>
            <li><a href="@Url.Content("~/Show/Index")">我们的节目</a>
                <ol>
                    <li><a href="@Url.Content("~/Show/PersonnelList")">制作人分类</a></li>
                    <li><a href="@Url.Content("~/Show/SchedulesList")">节目表分类</a></li>
                    <li><a href="@Url.Content("~/Show/TimeList")">时间分类</a></li>
                </ol>
                <li><a href="#">广播剧</a></li>
            <li><a href="#">视频节目</a></li>
            <li><a href="#">关于我们</a>
                <ol>
                    <li><a href="#">介绍</a></li>
                    <li><a href="#">人员</a></li>
                    <li><a href="#">节目表</a></li>
                    <li><a href="#">历史</a></li>
                    <li class="last"><a href="@Url.Content("~/Information/atlas")">图集</a></li>
                </ol>
            </li>
        </ol>
        <!-- END menu -->
    </div>
    <!-- 正文开始-->
    <div id="container">
        @RenderBody()
    </div>
    <!-- END container -->
    <!-- 底部 信息栏-->
    <div id="footer">
        <!-- First Column -->
        <div class="one-fourth">
            <h3>
                友情链接
            </h3>
            <ul class="footer_links">
                <li><a href="#">荔枝FM</a></li>
                <li><a href="#">喜马拉雅</a></li>
                <li><a href="#">人人网</a></li>
                <li><a href="#">新浪微博</a></li>
            </ul>
        </div>
        <!-- Second Column -->
        <div class="one-fourth">
            <h3>
                后台登陆</h3>
            <ul class="footer_links">
                <li><a href="#">后台管理员</a></li>
            </ul>
        </div>
        <!-- Third Column -->
        <div class="one-fourth">
            <h3>
                本主页
            </h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim
            id dui tincidunt vestibulum rhoncus a felis.
            <div id="social_icons">
                Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></div>
        </div>
        <!-- Fourth Column -->
        <div class="one-fourth last">
            <h3>
                Socialize</h3>
            <img src="../../Content/img/icon_fb.png" alt="">
            <img src="../../Content/img/icon_twitter.png" alt="">
            <img src="../../Content/img/icon_in.png" alt="">
        </div>
        <div style="clear: both">
        </div>
    </div>
    <!-- END footer -->
</body>
</html> 