<!DOCTYPE HTML>
<html>
<head>
    @*浏览器标题 并未加入图片 *@ <title>东师之声NUNE</title>@*页面文档说明*@
    <meta charset="utf-8">
    <!--怀疑影响页面访问速度 占时注销掉不饮用 查看带来的变化-->
    @*<link href="../../Content/css/MiancSS.css" rel="stylesheet" type="text/css" />*@
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/css/style.css">
    <!--基本样式表-->
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/menu/css/simple_menu.css">
    <!--菜单样式表-->
    <!-- JS Files -->
    <script type="text/javascript" src="../../Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../Content/js/jquery.tools.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".pane-list li").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
    </script>
</head>
<!--模板正文-->
<body>
    <div class="header">
        <div id="site_title">
            <a href="@Url.Content("~/Home/Index")">
                <img src="../../Content/img/logo.png" alt=""> 
            </a>
        </div>
        <!-- Main Menu -->
        <ol id="menu">
            <li class="active_menu_item"><a href="@Url.Content("~/Home/Index")">首页</a></li>
            <li><a href="@Url.Content("~/Show/Index")">我们的节目</a>
                <ol>
                    <li><a href="@Url.Content("~/Show/PersonnelList")">制作人分类</a></li>
                    <li><a href="@Url.Content("~/Show/SchedulesList")">节目表分类</a></li>
                    <li><a href="@Url.Content("~/Show/TimeList")">时间分类</a></li>
                </ol>
                <li><a href="#">广播剧</a></li>
            <li><a href="#">视频节目</a></li>
            <li><a href="#">关于我们</a>
                <ol>
                    <li><a href="#">介绍</a></li>
                    <li><a href="@Url.Content("~/Home/Introduce1314")">1314</a></li>
                    <li><a href="#">节目表</a></li>
                    <li><a href="#">历史</a></li>
                    <li class="last"><a href="@Url.Content("~/Information/atlas")">图集</a></li>
                </ol>
            </li>
        </ol>
        <!-- END menu -->
    </div>
    <!-- 正文开始-->
    <div id="container">
        @RenderBody()
    </div>
    <!-- END container -->
    <!-- 底部 信息栏-->
    <div id="footer">
        <!-- First Column -->
        <div class="one-fourth">
            <h3>
                友情链接
            </h3>
            <ul class="footer_links">
                <li><a href="http://www.lizhi.fm/201106/">荔枝FM</a></li>
                <li><a href="http://www.ximalaya.com/zhubo/24957152/">喜马拉雅</a></li>
                <li><a href="#">人人网</a></li>
                <li><a href="http://weibo.com/u/5549779623?refer_flag=1001030103_&is_hot=1">新浪微博</a></li>
            </ul>
        </div>
        <!-- Second Column -->
        <div class="one-fourth">
            <h3>
                后台登陆</h3>
            <ul class="footer_links">
                <li><a href="@Url.Content("~/TheHost/Login")">后台管理员</a></li>
                <li><a href="https://github.com/TombarthiteL/L.NENU"> GitHub项目源代码</a></li>
            </ul>
        </div>
        <!-- Third Column -->
        <div class="one-fourth">
            <h3>
                本主页
            </h3>
            本站为留声东师NUNE校园广播站的官方网站,由于正在测试中,服务器不太稳定,见谅!
            <div id="social_icons">
                Copyright &copy; 2015.Company 林 All rights reserved.
            </div>
        </div>
        <!-- Fourth Column -->
        <div class="one-fourth last">
            <h3>
                Socialize
            </h3>
@*          <img src="../../Content/img/icon_fb.png" alt="">
            <img src="../../Content/img/icon_twitter.png" alt="">
            <img src="../../Content/img/icon_in.png" alt="">*@
        </div>
        <div style="clear: both">
        </div>
    </div>
    <!-- END footer -->
</body>
</html>
