@model IList<L.NENU.Domain.ShowInfo>
@{
    ViewBag.Title = "Index";
    <!--引用jq-->
    <script type="text/javascript">
        $(function () {
            $("#prod_nav ul").tabs("#panes > div", {
                effect: 'fade',
                fadeOutSpeed: 400
            });
        });
        function dd() {
            alert(123);
        }
    </script>
}
<!-- tab panes -->
<div id="prod_wrapper">
    <div id="panes">
        @foreach (var item in Model)
        { 
            <div>
                <img src="@item.ImgUrl" alt="" width="465" height="300">
                <h1>
                    @item.ShowTitle
                </h1>
                <p>
                    @item.intro
                </p>
                <p style="text-align: right; margin-right: 16px">
                    <a href="@item.HtmlUrl" class="button">去荔枝收听!</a> @*<a href="#" class="button">BuyNow</a>*@
                </p>
            </div>
        }
    </div>
    <!-- END tab panes -->
    <div style="clear: both">
    </div>
    <!-- navigator -->
    <div id="prod_nav">
        <ul>
            @foreach (var item in Model)
            {
                int i = 1;
                <li><a href="#@i">
                    <img src="@item.ImgUrl" width="160" height="103" alt="">
                    <strong>@item.ShowTitle</strong>@item.ShowTime</a> </li>
                i++;
            }
        </ul>
    </div>
    <!-- END navigator -->
</div>
<!-- END prod wrapper -->
<div style="clear: both">
</div>
<div class="one-third">
    <h2>
        1314主播风采
    </h2>
    <p>
        2013,2014的主播们,
    </p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">去看看</a></p>
</div>
<div class="one-third">
    <h2>
        自制广播剧
    </h2>
    <p>
        !天龙八部!!!
    </p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">听听看</a></p>
</div>
<div class="one-third last">
    <h2>
        飘飘哒视频节目哦
    </h2>
    <p>
        一睹主播们的风采吧
    </p>
    <p style="text-align: right; margin-right: 15px">
        <a href="#" class="button_small">去也</a></p>
</div>
<div style="clear: both">
</div>
@*<div class="box_highlight" style="margin-top: 40px">
    <h2 style="text-align: center">
        Some kind of sales pitch goes here!</h2>
</div>*@
<div style="clear: both; height: 20px">
</div>
